body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	color: #415B76;
	background-color: #EEF4F2
}

h1, h2{
	color: #233656;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 3px;
}

a{
	text-decoration: none;
	color: #7B9BA6;
  	transition: color 0.8s ease;
}

a:hover {
	color: #EEF4F2
}
	
.block {
	padding: 50px 20px 50px;
    margin: 40px auto;
    text-align: center;
}

.parts {
	padding: 50px;
    border: 1px solid rgba(33, 53, 87,0.5);
    border-radius: 4px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    background: #CDD6D5 ;
}

.img-circle {
	border-radius: 50%
}

#links {
	padding-left: 0;
}

#links li {
	color: #EEF4F2;
	text-align: center; {
  	list-style: none;
  	padding-left: 0px;
  	display: inline; 
  	padding: 0px 20px;
}